.menu {
    padding: 20px;
}

.btnAdd {
    background-color: red;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}

.container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.empty {
    color: red;
    font-style: oblique;
}

.ch {
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
}

.name{
    color: red;
    font-size: 2rem;
}